* {
  box-sizing: border-box;
}

body {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background: linear-gradient(#ca8ab6af, #b8d992a1, #78ccd0a8);
  font: 400 16px Roboto;
  color: rgb(53, 53, 53);
}

a {
  text-decoration: none;
  color: rgb(53, 53, 53);
}

p {
  line-height: 1.5em;
}

h2,
h3 {
  font-family: Raleway;
}

/* Header styles */

.main-nav {
  margin: 0 auto;
}
.name {
  font: bold 2em Fondamento, sans-serif;
  margin: 0.5em auto;
}

ul {
  padding-left: 0;
  margin: 0 auto;
}

.nav li {
  list-style-type: none;
  text-transform: uppercase;
  background-color: rgba(250, 241, 241, 0.685);
  font-weight: 900;
  padding: 0.5em 0;
  margin: 0.25rem auto;
  border-radius: 10px;
}

.nav a:hover {
  color: rgba(172, 40, 172, 0.822);
}

header img {
  width: 70%;
  max-width: 300px;
  margin-top: 2.5em;
  border-radius: 10px;
}

.light-text {
  color: rgb(80, 80, 80);
}

.introduction {
  margin: 1.25em 0 3em;
}

/* Main content styles */

main img {
  max-width: 100%;
}

section {
  padding-bottom: 3.5em;
}

.section-heading {
  padding: 2.5em 0 2.5em;
  font-weight: 800;
  margin: 0;
}

#portfolio {
  margin: 0 -5vw;
  padding-bottom: 1em;
  background-color: rgba(250, 241, 241, 0.548);
}

.grid,
.skills-content {
  width: 90vw;
  max-width: 1300px;
  margin: 0 auto;
}

article {
  margin-bottom: 2.5em;
}

article p {
  padding: 0 0.75em;
}

.article-heading {
  margin-top: 1.5em;
}

.skills-list li {
  list-style-type: none;
  background-color: rgba(252, 198, 198, 0.705);
  padding: 0.5em 1em;
  display: inline-block;
  margin: 0 0.5em 1em;
  border-radius: 10px;
}

#skills {
  background-color: rgba(245, 236, 105, 0.411);
  margin: 0 -5vw;
}

#contact {
  border-bottom: solid 1px rgb(117, 177, 174);
}

.email:link {
  color: rgb(216, 95, 95);
}
.email:hover {
  color: rgb(12, 95, 81);
}

.contact-text {
  margin: 0 0 1.75em;
}

/* Footer styles */

.footer {
  font-weight: 700;
}

.footer p {
  float: left;
  line-height: 3em;
}

.footer-nav {
  float: right;
  margin: 1.5em 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  list-style: none;
  text-align: right;
  line-height: 3em;
}

.footer-list {
  display: none;
  margin-left: 1em;
}

/* Tablet screen styles */

@media screen and (min-width: 768px) {
  .name {
    margin-top: 1.5em;
  }
  .nav {
    display: flex;
    width: 60%;
  }

  .nav li {
    background: none;
  }

  .profile {
    display: flex;
    flex-direction: row-reverse;
    margin: 3em 0 4em;
  }

  .introduction {
    font-size: 1.3em;
    text-align: left;
    padding-right: 1em;
    margin: 0;
  }

  .profile-img {
    margin: 0;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.75em;
  }

  .contact-info {
    max-width: 80%;
    margin: 0 auto;
    font-size: 1.3em;
  }

  .back-to-top {
    display: none;
  }

  .footer-list {
    display: inline-block;
  }

  footer {
    height: 150px;
  }
}
/* Desktop screen styles */

@media screen and (min-width: 1024px) {
  .page-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    padding-top: 3em;
  }

  .name {
    margin: 0;
    justify-self: start;
  }

  .main-nav {
    margin: 0;
    justify-self: end;
  }

  .nav {
    margin: 0;
  }

  .nav li {
    margin-left: 2em;
  }

  .profile-img {
    max-width: 400px;
  }

  #portfolio,
  #skills {
    margin: 0 -2.5vw;
  }

  .grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
  }

  .contact-info {
    max-width: 60%;
  }

  footer {
    height: initial;
  }
}
